.tela{
    // background-color: var(--preto);
    color: var(--branco);
}
.conteudo{
    background-color: rgba(43, 42, 42, 0.8);
    border-radius: 0;
    // border: ;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    
}

.carouselimg{
    width: 100%;
    height: 70vh;
}
@media screen and (max-width:425px) {
    .carouselimg{
        width: 100%;
        height: 35vh;
    } 
    
}
.card-img-top{
    height: 25vh;   
}
.grade{
    border: 8px solid transparent; /* Define a largura da borda */
    border-image: url(/assets/details/Borda2.png) 4 stretch; /* Configura a imagem de borda */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // background-color: rgba(209, 248, 255, 0.67); /* Cor de fundo, opcional */
    padding: 15px; /* Distância do conteúdo para a borda */
}