<div class="tela">
  <div class="container pt-4">
    <div class="conteudo">
      <div class="p-2">
        <carousel *ngIf="isBrowser">
          <slide>
            <img src="assets/Carousel/Evo.png" class="carouselimg" alt="first slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Evo Championship</h3>
              <p>BRINGING THE FIGHT FOR OVER TWO DECADES</p>
            </div>
          </slide>
          <slide>
            <img src="assets/Carousel/SF6.png" alt="second slide" class="carouselimg">
            <div class="carousel-caption d-none d-md-block">
              <h3>Street Fighter 6</h3>
              <p>O Apice do classico de lutas</p>
            </div>
          </slide>
          <slide>
            <img src="assets/Carousel/EvoBanner.jpg" alt="third slide" class="carouselimg">
            <div class="carousel-caption d-none d-md-block">
              <h3>Brasil Na Evo</h3>
              <p>Jogadores de Mortal Kombat 1 do Brasil fazem história na EVO 2024</p>
            </div>
          </slide>
        </carousel>      
      </div>
  
  
      <div class="row px-2 pb-4 mt-4 justify-content-center gap-2">
        <p class="h2 pl-2">Proximos Eventos</p>

        
      @for (Evento of lista; track $index) {
          <div class="col-lg-3 card">
            <img  class="card-img-top pt-2" [src]="'assets/background/'+ Evento.game[0].sigla + '.png'" alt="Imagem do Jogo {{Evento.game[0].nome}}"/>
            <div class="card-body">
              <h5 class="card-title">{{ Evento.titulo }}</h5>
              <p class="card-text">{{ Evento.descricao }}</p>
              <p>
                📅 {{Evento.date}}
              </p>
              <p>
                📍 Local: Brasilia - DF
              </p>
              
            </div>
          </div>
        }     
  
  
    </div>

  </div>
</div>
