<div class="tela">
  <div class="container pt-4">
    <div class="conteudo">
      <div class="p-2">
        <carousel *ngIf="isBrowser">
          <slide>
            <img src="assets/Carousel/Evo.png" class="carouselimg" alt="first slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Evo Championship</h3>
              <p>BRINGING THE FIGHT FOR OVER TWO DECADES</p>
            </div>
          </slide>
          <slide>
            <img src="assets/Carousel/SF6.png" alt="second slide" class="carouselimg">
            <div class="carousel-caption d-none d-md-block">
              <h3>Street Fighter 6</h3>
              <p>O Apice do classico de lutas</p>
            </div>
          </slide>
          <slide>
            <img src="assets/Carousel/EvoBanner.jpg" alt="third slide" class="carouselimg">
            <div class="carousel-caption d-none d-md-block">
              <h3>Brasil Na Evo</h3>
              <p>Jogadores de Mortal Kombat 1 do Brasil fazem história na EVO 2024</p>
            </div>
          </slide>
        </carousel>      
      </div>
  
  
      <div class="row px-2 pb-4 mt-4 justify-content-center gap-2">
        <p class="h2 pl-2">Proximos Eventos</p>

          <div class="col-lg-4 card">
            <img src="assets/background/Uni2.png" class="card-img-top pt-2" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Final Regional - DF</h5>
              <p class="card-text">Preparem-se, guerreiros da noite! 🌌 O torneio mais aguardado de Under Night In-Birth está chegando para reunir os melhores jogadores da região!</p>
              <p>
                📅 Data: 11/11/24
              </p>
              <p>
                📍 Local: Brasilia - DF
              </p>
              
            </div>
          </div>

          <div class="col-lg-4 card">
            <img src="assets/background/Tk8.png" class="card-img-top pt-2" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Encontro de Players - SP</h5>
              <p class="card-text">Lutadores, preparem seus punhos e seus combos! O aguardado Campeonato Regional de Tekken 8 está chegando, e é a sua chance de mostrar quem manda nas arenas! Nosso encontro pegara fogo com os melhores jogadores da região</p>
              <p>
                📅 Data: 28/11/24
              </p>
              <p>
                📍 Local: São Paulo - SP
              </p>
              
            </div>
          </div>

          <div class="col-lg-3 card">
            <img src="assets/background/SF6.png" class="card-img-top pt-2" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Classificatória de Street Fighter - Rumo ao Topo!</h5>
              <p class="card-text">Atenção, lutadores! Chegou o momento de colocar suas habilidades à prova na Classificatória Regional de Street Fighter! Prepare-se para mostrar todo seu poder de luta e garantir uma vaga entre os melhores, rumo ao grande campeonato final! </p>
              <p>
                📅 Data: 03/12/24
              </p>
              <p>
                📍 Local: Remoto
              </p>
              
            </div>
          </div>      
  
  
    </div>

  </div>
</div>
