<div class="container mt-5">
  <h2 class="text-center mb-4">Eventos de Jogos</h2>
  @if (loginService.hasPermission("MODERADOR") || loginService.hasPermission("VETERANO")) {
    <a class="btn btn-success" href="main/community/event-form/">Criar Novo Evento</a>
  }
  <!-- Exibir eventos em cards usando @for -->
  <div class="row my-4">
      @for (Evento of lista; track $index) {
          <div class="col-md-4 h-100">
              <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                      <div class="bg-image card-image-top" mdbRipple rippleColor="light">
                          <img  class="img-fluid"
                          width="350" height="100"[src]="'assets/background/'+ Evento.game[0].sigla + '.png'"
                          alt="Imagem do Jogo {{Evento.game[0].nome}}"/>
                      </div>
                      <h3 class="card-title">{{ Evento.titulo }}</h3>
                      <p class="card-text">{{ Evento.descricao }}</p>
                      <p class="card-text">
                          <small class="text-muted">Data do evento: {{ Evento.date }}</small>
                      </p>
                      <a href="{{ Evento.link }}" target="_blank" class="btn btn-danger">Acessar Evento</a>
                      <a class="btn btn-primary" href="main/community/event-form/edit/{{Evento.id}}">Editar</a>
                      <a class="btn btn-outline" (click)="deleteById(Evento);">Deletar</a>
                  </div>
              </div>
          </div>
      }
      
  </div>
</div>
