    <div class=" container mt-4">

                    <!-- Botoes e Barra de Pesquisa -->
    <div class="container">
        <div class="d-flex justify-content-end">
            <form class="d-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Nome do Jogo"
                  aria-label="Search"
                />
                <button class="btn" type="button">
                    <i class="fas fa-search"></i>
                </button>
              </form>
              @if (loginService.hasPermission("MODERADOR") || loginService.hasPermission("VETERANO")) {
                  <button class="btn ms-4 butao"> <a href="main/games/cadastro">Novo Jogo</a></button>
              }
        </div>
    </div>


    <div class="d-flex fundo grade justify-content-center row gx-0">
        @for (game of games; track $index){
        <div class="col-md-6">
            @if (modalMode == true) {
                
                <div class="card-game" style="background-image: url(/assets/background/{{game.sigla}}.png);">
                    <button class="btn ms-4 butao" (click)="selecionarGame(game)">Selecionar</button>
                    <!-- <div class="card-style"> -->
                        <a class="card-style">{{game.nome}}</a>
                    <!-- </div> -->
                </div>
            }@else {
                <div class="card-game" (click)="goToGame(game.sigla)" style="background-image: url(/assets/background/{{game.sigla}}.png);">
                    <!-- <div class="card-style"> -->
                        <a class="card-style">{{game.nome}}</a>
                    <!-- </div> -->
                </div>
            }
            
        </div>
        }
    </div>
    </div>