.fundo{
    background-image: url(/assets/back_page/SF6.jpg);
    background-size: cover;
}
.container{
    height: 100vh;

    .card{
        background-color: var(--preto);
        color: var(--branco);
    }
    input{
        color: var(--branco);
    }
    label{
        color: var(--branco);
    }
    button{
        background-color: var(--laranja);
        box-shadow: none;
    }
}
@media (min-width: 577px) {
    .card{
        width: 25%;
    }
}