.config{
    margin: 0;
    padding: 5vh 0;
    // background-color: var(--preto);
    background-size: cover;
    color: var(--laranja);

    // height: 100%;
}
form{
    color: var(--laranja);
    input{
        border: 2px solid var(--laranja);
    }
    button{
        color: var(--laranja);
    }
}
.butao{
    border: 1px solid var(--laranja);
    a{
        color: var(--laranja);
    }
}
.butao:hover{
    border: 1px solid var(--branco);

    a{
        color: var(--branco);
    }
}

.configTable{
    padding: 0 10vw;
}
tr{
    cursor: pointer;
    background-color: var(--branco);
}
tr:hover{
    background-color: #e5e3e3;
}
th{
    color: var(--laranja);
    text-transform: uppercase;
}
td{
    color: var(--preto);
}