.config{
    margin: 0;
    padding: 5vh 0;
    background-size: cover;
    color: var(--laranja);
}
.card{
    background-color: rgba(43, 42, 42, 0.8);
    border-radius: 0;
    // border: ;
}
.grade{
    border: 8px solid transparent; /* Define a largura da borda */
    border-image: url(/assets/details/Borda2.png) 4 stretch; /* Configura a imagem de borda */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // background-color: rgba(209, 248, 255, 0.67); /* Cor de fundo, opcional */
    padding: 15px; /* Distância do conteúdo para a borda */
}
form{
    color: var(--laranja);
    input{
        border: 2px solid var(--laranja);
    }
    button{
        color: var(--laranja);
    }
}
.butao{
    border: 1px solid var(--laranja);
    a{
        color: var(--laranja);
    }
}
.butao:hover{
    border: 1px solid var(--branco);
    a{
        color: var(--branco);
    }
}
.configTable{
    padding: 0 10vw;
}
tr{
    cursor: pointer;
    // background-color: var(--branco);
}
th{
    color: var(--laranja);
    text-transform: uppercase;
}
tbody tr:hover{
    background-color: #3c3c3c;
}
td{
    color: var(--branco);
}