<div class="config">

    <!-- Botoes e Barra de Pesquisa -->
<div class="container">
<div class="d-flex justify-content-end">
    <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Nome do Guia"
          aria-label="Search"
        />
        <button class="btn" type="button">
            <i class="fas fa-search"></i>
        </button>
      </form>
      @if (loginService.hasPermission("MODERADOR") || loginService.hasPermission("VETERANO")) {
          <button class="btn ms-4 butao"> <a href="main/guide-form">Novo Guia</a></button>
      }
</div>
</div>


<div class="d-flex justify-content-center row gx-0">
@for (guide of lista; track $index){
<div class="col-md-6">
    
    <div class="card-game" (click)="goToGuide(guide.id)" style="background-image: url(/assets/background/{{guide.id}}.png);">
        <!-- <div class="card-style"> -->
            <a class="card-style">{{guide.titulo}}</a>
        <!-- </div> -->
    </div>
</div>
}
</div>
</div>