<div class="config">
    <!-- Botoes e Barra de Pesquisa -->
    <div class="container">
        <div class="d-flex justify-content-end">
            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control" placeholder="Nome do Guia" aria-label="Search" />
                <button class="btn" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            @if (loginService.hasPermission("MODERADOR") ||
            loginService.hasPermission("VETERANO")) {
            <button class="btn ms-4 butao">
                <a href="main/guide-form">Novo Guia</a>
            </button>
            }
        </div>
    </div>

    <div class="container mt-3 table-responsive-md">
            <!-- <h5 class="titulos text-center">Guias</h5> -->
            <table class="table border text-center">
                <thead class="titulos align-middle">
                    <tr>
                        <th class="col-2">Titulo</th>
                        <th class="col-2">Usuario</th>                        
                        <th class="col-2">Personagem</th>
                        <th class="col-2">Dificuldade</th>
                        <th class="col-2">Criação</th>
                        <th class="col-2">Likes</th>
                        <th class="col-2">DisLikes</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @for (guide of lista; track $index){
                    <tr (click)="goToGuide(guide.id)">
                        <td class="col-2">{{ guide.titulo }}</td>
                        <td class="col-2">{{ guide.user.username }}</td>
                        <td class="col-2">
                            <img src="assets\fighter\icons\{{ guide.game.sigla }}_{{
                  guide.fighter.nome
                }}_Icon.png" width="80" height="100" />
                        </td>
                        <td class="col-2">{{ guide.tipo }}</td>
                        <td class="col-2">{{ guide.data_cr }}</td>
                        <td class="col-2">{{ guide.likes }}</td>
                        <td class="col-2">{{ guide.dislikes }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
</div>